.fishItem{
    display: flex;
    border:2px solid black;
    margin: 10px 10px;
    flex-basis:20%;
}

.fishArea{
    flex-basis:75%;
    background-color: royalblue;
    color:white;
    padding: 5px 10%;
    
}
.fishItem__pic-displayed{
    width:300px
}
.fishContainer :hover{
    background-color: teal;
}
.fishContainer{
    display:flex;
    flex-wrap: wrap;

}