.fishItem{
    display: flex;
    border:2px solid black;
    margin: 10px 10px;
    flex-basis:1em;
}

.fishArea{
    flex-basis:75%;
    background-color: royalblue;
    color:white;
    padding: 5px 20px;
    
}
.fishItem__pic-displayed{
    width:300px
}
.fishList :hover{
    background-color: teal;
}
.fishList{
    display:flex;
    flex-wrap: wrap;

}
