@import "fish.css";
@import "travel.css";
h1, h3{
    text-align:center
}
article, aside {
    border:1px solid black
}


.Travel__tips_pics{
    width:400px
}
.careTips{
    flex-basis:24%;
    color:white;
    background-color: teal
}
.flexAside{
    display:flex
}