.Travel__locations_flex{
    display:flex;
    justify-content: space-evenly;
}
.Travel__locations__Item{
    margin:5px;
}
.travel{
    background-color: skyblue;
}
#fiji_pic{
    width:350px;
}
.Travel__tips_pics{
    width:400px
}
.flexTips{
    display:flex;
    justify-content: space-evenly;
}